*{
    padding: 0;
    margin: 0
}
.wrapper{
     height: 100vh;
     overflow-x: hidden; 
}
.container{
    height: 500px; 
}
.box1{
    display: flex;
}
.logo{
    height: 80px;
    width: 130px;
    margin-left: 100px;
}
.img{
    display: flex;
    width: 412px;
    height: 300px;
    margin-top: 132px;
    margin-left: 50px;
    border-radius: 256px;
}
.offer{
    height: 17px;
    width: 200px;
    margin-top: 201px;
    margin-left: 80px;
    background-color: rgb(141, 249, 141);
}
.sidelines{
    width: 700px;
}
.text{
    margin-left: 80px;
    font-size: 50px;
}
.text2{
    margin-left: 80px;
    font-size: 50px;
}
.para{
    margin-left: 80px;
}
.explore{
    background-color: rgb(242, 190, 93);
    width: 200px;
    margin-left: 80px;
    font-size: 30px; 
}
.frames{
    display: flex;
    height: 50px;
    width: 150px;
    margin-top: 126px;
    margin-left: -33%;
}
.frame1{
    position: relative;
    margin-left: 0px;
}
.line{
    border: 0.1px rgba(0, 0, 0, 0.386) solid ;
    width: 100rem;
}
.heading{
    margin-top: 50px;
    background-color: rgb(90, 228, 90);
   width: 78px;
   height: 24px;
   margin-left: 640px;
   
}
.text3{
    margin-left: 532px;
    font-weight: 100;
    font-size: 45px;
}
.box{
    display: flex;
    flex: auto;
    position: relative;
    margin-left: 10px;
}
.food{
    position: relative;
    margin-left: 200px;
    justify-content:space-evenly;
    /* align-items:; */
    height: 585px;
    width: 1120px;
}
.box2{
    height: 150px;
    width: 1970px;
    background-color: rgb(238, 221, 224);
    display: flex;
}
.headerlogo{
    margin-top: 25px;
    margin-left: 312px;
    height: 80px;
    width: 130px;
}
.group13{
    margin-left: 312px;
}
.list1{
    margin-left: 104px;
    margin-top: 25px;

}
.list2{
    margin-top: 25px;
    margin-left:110px ;
}
.list3{
    margin-top: 25px;
    margin-left: 120px;
}
